<div class="page-container">
  <h2>Devices Analytics</h2>
  <div class="home-button-container">
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
      Home
    </button>
  </div>
  <div class="analytics-charts-container">
    <div class="analytics-chart">
      <h3>Device Types Analytics</h3>
      <canvas #deviceChart></canvas>
    </div>
    <div class="analytics-chart" *ngIf="role === 'masteradmin' || role === 'locationadmin'">
      <h3>Group Devices Analytics</h3>
      <canvas #groupChart></canvas>
    </div>
    <div class="analytics-chart" *ngIf="role === 'masteradmin'">
      <h3>Location Devices Analytics</h3>
      <canvas #locationChart></canvas>
    </div>
  </div>
</div>
