
<div>
  <mat-toolbar>
    <h2>User Management</h2>

    <input matInput placeholder="Search" (input)="applySearch($event)">
    <mat-icon>search</mat-icon>
    <span class="spacer"></span>
    <button class="standard-button" mat-button (click)="goToHomePage()">
      <mat-icon>home</mat-icon>Home
    </button>
    <button class="standard-button" mat-button (click)="addUser()">
      <mat-icon>add</mat-icon>Add User</button>
  </mat-toolbar>

  <table mat-table [dataSource]="paginatedUsers">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let user">{{ user.location }}</td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let user">{{ user.group }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">{{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="editUser(user)">Edit User</button>
          <button mat-menu-item (click)="deleteUser(user)">Delete User</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'location', 'group', 'role', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'location', 'group', 'role', 'actions']"></tr>
  </table>
  <mat-paginator [length]="searchUsers.length" [pageSize]="pageSize"
  [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
  (page)="onPaginatorChange($event)"></mat-paginator>
</div>

