.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #2196f3;
}

button {
  color: white;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h2 {
  margin: 0;
}

.sidenav-container {
  flex: 1;
}
