<div class="container">
  <mat-toolbar>
    <button *ngIf="role!=='user'"mat-button routerLink="/usermngmnt">
      <mat-icon>manage_accounts</mat-icon>
      User Management
    </button>
    <button mat-button routerLink="/devicemngmnt">
      <mat-icon>device_hub</mat-icon>
      Device Management
    </button>
    <button *ngIf="role!='user'"mat-button routerLink="/analytics">
      <mat-icon>analytics</mat-icon>
      Analytics
    </button>
    <button mat-button routerLink="/user-info">
      <mat-icon>person</mat-icon>
      User Info
    </button>
  </mat-toolbar>

  <div class="company-info">
    <div class="company-info-content">
      <h1>Company Devices Management</h1>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </div>

  <div>
    <h2 class="username-info">
      Welcome, {{ username }}!
    </h2>
  </div>
  <div class="images">
    <img src="assets/images/devices.jpg" alt="Left Image" style="width: 600px; height: 400px; float: left; ">
    <img src="assets/images/labdevices.jpg" alt="Right Image" style="width: 647px; height: 400px; float: right;">
  </div>
</div>
