<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>devices</mat-icon>
      <span>Device Management</span>
    </button>
    <button mat-icon-button>
      <mat-icon>people</mat-icon>
      <span>User Management</span>
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
      <span>User Information</span>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
      <span>Device Sets Page</span>
    </button>

    <div class="center-content">
      <h2>Company Devices Management</h2>
    </div>
  </mat-toolbar>
  </div>
