
<div>
  <mat-toolbar>
    <h2>Device Management</h2>
    <div class="search-container">
    <input matInput placeholder="Search Device Name" (input)="applySearch($event)">
    <mat-icon>search</mat-icon>
    </div>
    <button class="standard-button" mat-button (click)="goToHomePage()">
      <mat-icon>home</mat-icon>Home
    </button>
    <button class="standard-button" mat-button (click)="addDevice()">
      <mat-icon>add</mat-icon>Add Device</button>
    <button class="standard-button" mat-button (click)="filterByDeviceType()">
        <mat-icon>filter_list</mat-icon>Filter By Device Type</button>
  </mat-toolbar>

  <table mat-table [dataSource]="paginatedDevices">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let device">{{ device.name }}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let device">{{ device.location }}</td>
    </ng-container>

    <ng-container matColumnDef="group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let device">{{ device.group }}</td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>Owner</th>
      <td mat-cell *matCellDef="let device">{{ device.owner }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let device">{{ device.type }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let device">{{ device.model }}</td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef>IP</th>
      <td mat-cell *matCellDef="let device">{{ device.ip }}</td>
    </ng-container>

    <ng-container matColumnDef="locationCheck">
      <th mat-header-cell *matHeaderCellDef>Location Check</th>
      <td mat-cell *matCellDef="let device">
        <button mat-button class="standard-button" (click)="openLocationCheck(device.ip)">
       Location Check
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let device">
        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item (click)="editDevice(device)">Edit Device</button>
          <button mat-menu-item (click)="deleteDevice(device)">Delete Device</button>
          <button *ngIf="userRole!='user'" mat-menu-item (click)="share(device)">Share With User</button>
          <button *ngIf="userRole!='user'" mat-menu-item (click)="unshare(device)">Unshare</button>
          <button *ngIf="userRole!='user'" mat-menu-item (click)="changeOwner(device)">Change Owner</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'location', 'group', 'owner', 'type', 'model', 'ip', 'locationCheck', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'location', 'group', 'owner', 'type', 'model', 'ip','locationCheck','actions']"></tr>
  </table>
  <mat-paginator [length]="searchDevices.length" [pageSize]="pageSize"
  [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
  (page)="onPaginatorChange($event)"></mat-paginator>
</div>

