

<div mat-dialog-title>
  <h2>Change Password</h2>
</div>

<div mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <input matInput placeholder="Original Password" formControlName="originalPassword" type="password" required>
      <mat-error>Provide the old password</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="New password" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" required>
      <button mat-button matSuffix (click)="togglePasswordVisibility('newPassword')">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>Provide the new password</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm new password" formControlName="confirmNewPassword" [type]="showConfirmPassword ? 'text' : 'password'" required>
      <button mat-button matSuffix (click)="togglePasswordVisibility('confirmNewPassword')">
        <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>Confirm the new password</mat-error>
    </mat-form-field>


  </form>
</div>

<div mat-dialog-actions>
  <button style="margin-right:130px; margin-left: 130px;" mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onUpdateClick()" [disabled]="!changePasswordForm.valid">Change Password</button>
</div>
